/*Paleta de colores*/
$bordo: #730408;
$salmon: #D02C31;
$madera: #BE8928;
$tronco: #4A2D03;
$darkgris: #0D1012;

/* media Queries*/
$peque: 320px;
$peques: 576px;
$medianas: 768px;
$grandes: 992px;
$extraGrandes: 1200px;

/*Rotation*/
$rotRight: -90deg;
$rotLeft: 90deg;
